<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.heritagebackend.mapper.AdminMapper">
    <insert id="add" parameterType="org.example.heritagebackend.entity.Admin">
        INSERT INTO admin (username, password, role, name, avatar)
        VALUES (#{username}, #{password}, #{role}, #{name}, #{avatar})
    </insert>
    <update id="updateById" parameterType="org.example.heritagebackend.entity.Admin">
        UPDATE admin
        SET username      = #{username},
            password      = #{password},
            role          = #{role},
            name          = #{name},
            avatar        = #{avatar}
        WHERE id = #{id}
    </update>
    <select id="selectAll" resultType="org.example.heritagebackend.entity.Admin">
        SELECT *
        FROM admin
        <where>
            <if test="name != null">name like concat('%', #{name}, '%')</if>
        </where>
    </select>
</mapper>
